<footer class="footer" style="background-image: url(images/footer-bg.jpg);">
  <div class="container">
    <h4 class="footer__title">
      Остались вопросы?
    </h4>
    <p class="footer__text">
      Задача организации, в особенности же курс на социально-ориентированный национальный проект позволяет оценить
      значение модели развития.
    </p>
    <form class="footer__form">
      <div class="footer__form-input input-name">
        <label class="footer__form-desc">Имя</label>
        <input type="text" placeholder="Иванов Илья" required>
      </div>
      <div class="footer__form-input input-number">
        <label class="footer__form-desc">Телефон</label>
        <input type="text" id="phone" placeholder="+7 ( 9 9 9 ) 9 9 9 - 9 9 - 9 9" required>
      </div>
      <div class="footer__form-input input-email">
        <input type="email" placeholder="Email" required>
      </div>
      <button class="footer__form-btn" type="submit">Отправить</button>
    </form>
  </div>
  <div class="footer__copy">
    <a class="footer__logo" href="#">
      <img class="logo" src="images/logo.svg" alt="">
    </a>
  </div>
</footer>