<header class="header" style="background-image: url(images/header-bg.jpg);">
  <div class="container">
    <div class="header__top-inner">
      <a class="header__logo footer__logo" href="#">
        <img class="logo" src="images/logo.svg" alt="">
      </a>
      <a class="header__btn" href="#">Закажите ваш билет</a>
    </div>
    <div class="header__info">
      <h1 class="header__info-title">До луны и обратно</h1>
      <p class="header__info-text">
        Задача организации, в особенности же курс на социально-ориентированный национальный проект позволяет оценить значение модели развития. 
      </p>
      <a class="header__info-btn header__btn" href="#">Подробнее о нас</a>
    </div>
  </div>
</header>